

// Borders
$border-color: darken($branding-color, 10%);
$list-group-border: $border-color;
$navbar-default-border: $border-color;
$panel-default-border: $border-color;
$panel-inner-border: $border-color;

// Brands
$brand-primary: $branding-color;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $text-color;
$dark-background-text-color: $dark-background-text-color;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$header-color: $header-color;

// Panels
$panel-default-heading-bg: #fff;

$classy-color : #90CAF9;
$ceremonious-color : #009688;
$fab-color : #F06292;
$grand-color : #D32F2F;
$imperial-color : #3949AB;
$majestic-color : #FFA000;

@mixin gradient($low, $high)
{
	background: -moz-linear-gradient(top, $low 0%, $high 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $low 0%,$high 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $low 0%,$high 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}