.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
  line-height: 1;
  margin: 0 auto;
}

.carousel-control.right {
  left: auto;
  right: 0;
  background: none;
      top: 30%;
    color: black;
}

.carousel-control.left {
  right: auto;
  left: 0;
  background: none;
  top: 30%;
  color: black;
}

#service-carousel {
  margin-top: 30vh;
}