
.title {
    z-index: 10;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid $branding-color;

}

.content-container {
    position: relative;
    min-height: 100vh;
    background: #f5f3f3;
    padding: 0 2em;
    padding-top: 3em;
}

.content-with-carousel {
    padding: 0;

    .title {
        background: lighten($branding-color, 10%);
        color: $dark-background-text-color;
        opacity: 0.8;
        margin-bottom: 2px;
    }

    .content {
        @media(min-width: 992px) {
            position: absolute;
            bottom: 0;
            z-index: 1000;
            right: 1px;
            color: transparent;        
        }
    }

    .overlay {
        opacity: 0.6;
        background: white;
        z-index: 900;
        color: black;
        padding: 20px;
        @media(min-width: 992px) {
            margin-left: 50px;
        }
    }
}

.in-cart {
    position: absolute;
    bottom: 5%;
    opacity: 0.7;
    left: 0;
    width: 100%;
    background: #d1dee4;
    padding: 3px 10px;
    color: white;
    opacity: 1;
    transition: all 0.2s;

    &.in-cart-hidden {
        bottom: -5%;
        opacity: 0;
        transition: all 0.5s;
    }
}
.packages {
    @media (min-width: 1200px) {
        display: none;
    }
    color: white;
    font-size: 21px;
    letter-spacing: 3px;
    > div {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
div {
    &.classy {
        text-transform: uppercase;
        width: 200px;
        padding: 20px 10px;
        color: black;
        background: $classy-color;
        @include gradient($classy-color, lighten($classy-color, 20%));
    }
    &.ceremonious {
        text-transform: uppercase;
        width: 230px;
        color: white;
        padding: 20px 10px;         
        background: $ceremonious-color;
        @include gradient($ceremonious-color, lighten($ceremonious-color, 20%));
    }
    &.fab {
        text-transform: uppercase;
        width: 250px;
        color: white;
        padding: 20px 10px;                     
        background: $fab-color;
        @include gradient($fab-color, lighten($fab-color, 20%));
    }
    &.grand {
        text-transform: uppercase;
        width: 270px;
        color: white;
        padding: 20px 10px;         
        background: $grand-color;
        @include gradient($grand-color, lighten($grand-color, 20%));
    }
    &.imperial {
        text-transform: uppercase;
        width: 290px;
        color: white;
        padding: 20px 10px;         
        background: $imperial-color;
        @include gradient($imperial-color, lighten($imperial-color, 20%));
    }
    &.majestic {
        text-transform: uppercase;
        width: 310px;
        color: white;
        padding: 20px 10px;         
        background: $majestic-color;
        @include gradient( $majestic-color, lighten($majestic-color, 20%));
    }
}

.package-title {
    background: #040404;
    color: $dark-background-text-color;
    opacity: 0.8;
    margin-bottom: 2px;
    margin-top: 37px;
    border: 7px solid lighten(#040404, 50%);
    padding: 7px;
    font-size: 26px;
    @media (max-width: 1199px) {
        display: none;
    }
}

.price {
    font-size: 1.3em;
    margin-bottom: 2em;
}

.discount {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    &:after {
        content: '';
        height: 0;
        width: 0;
        border-top: 10px solid yellow;
        border-bottom: 10px solid transparent;
        border-left: 10px solid yellow;
        border-right: 10px solid yellow;
        margin: 0 auto;
        transition: all 0.5s;
    }
}