

.logo {
    margin: 30px 0;
}

.title {
    z-index: 10;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: rgba(0,0,0,0.5) 0 14px 10px -11px;

}

.content-container {
    position: relative;
    min-height: 100vh;
    background: white;
    padding: 0 2em;
}

.content-with-carousel {
    padding: 0;

    .title {
        background: $branding-color;
        color: white;
        margin-bottom: 7px;
    }

    .content {
        position: absolute;
        padding: 0 1em;
        bottom: 0;
        z-index: 1000;
        right: 1px;
        color: transparent;
    }

    .overlay {
        opacity: 0.8;
        background: white;
        border: 1px solid;
        z-index: 900;
        color: black;
        padding-top: 20px;
    }
}

.content-page {

}