
.title {
    z-index: 10;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid $branding-color;

}

.content-container {
    position: relative;
    min-height: 100vh;
    background: white;
    padding: 0 2em;
}

.content-with-carousel {
    padding: 0;

    .title {
        background: lighten($branding-color, 10%);
        color: $dark-background-text-color;
        opacity: 0.8;
        margin-bottom: 2px;
    }

    .content {
        position: absolute;
        bottom: 0;
        z-index: 1000;
        right: 1px;
        color: transparent;
    }

    .overlay {
        opacity: 0.6;
        background: white;
        z-index: 900;
        color: $text-color;
        padding: 20px;
        margin-left: 50px;
    }
}