
.btn {
  padding: 9px 12px;
  outline: none;
  &:focus {
    outline: none;
  }
}

.btn-primary {
  border: 1px solid $branding-color;
  color : $dark-background-text-color;
  background: $branding-color;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0;
  transition: all .2s ease-in-out;
}
.input-group {
  background: rgba(255, 255, 255, 0.5);
  border-spacing: 0;
}

.input-group-addon {
  cursor: pointer;
  border-radius: 0;
  background: lighten($branding-color, 10%);
  color: white;
  padding: 6px 19px;
  border: 2px solid white;
}
.form-control {
  border-radius: 0;
  height: 45px;
  border: 0;
  box-shadow: none;
  &:focus, &:active, &:hover {
    box-shadow: none;
  }
}
.form-group {
  .form-control {
    border-radius: 2px;
    background: rgba(255,255,255,.5);
    box-shadow: rgba(0,0,0,.15) 0 1px 0;
    color: rgba(0,0,0,.7);
    font-weight: 400;
    font-size: 12pt;
    transition: all .2s ease-in-out;
  }
  select.form-control {
    border-bottom: 0;
  }
}
.search {
  .form-control {
    border-bottom: 0;
  }
}


//.select-wrapper {
//  border-bottom: 1px solid lighten($branding-color, 10%);
//}

.form-group {
  .btn-block {
    margin-top: 15px;
  }
}

.btn-embossed {
  display: inline-block;
  border-radius: 3px;
  margin: 4px;
  color: white;
  padding: 0 10px;
  font-size: 12pt;
  background: #006FA6;
  border: 1px solid rgba(0,0,0,.05);
  transition: all 0.2s;
  box-shadow: inset rgba(0,0,0,.075) 0 -3px 10px, inset rgba(255,255,255,.3) 0 1px 1px, rgba(0,0,0,.075) 0 1px .5px, rgba(0,0,0,.05) 1px 3px 5px;
}

.btn-default {
  border: 0;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 12pt;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}