
.btn {
  padding: 9px 12px;
  border-radius: 0;
  outline: none;
  &:focus {
    outline: none;
  }
}

.btn-primary {
  border: 1px solid $branding-color;
  color : $dark-background-text-color;
  background: $branding-color;
}
.input-group {
  border-spacing: 0;
}

.input-group-addon {
  cursor: pointer;
  border-radius: 0;
  background: lighten($branding-color, 10%);
  color: white;
  padding: 6px 19px;
  border: 2px solid white;
}
.form-control {
  border-radius: 0;
  height: 45px;
  border: 0;
  box-shadow: none;
  &:focus, &:active, &:hover {
    box-shadow: none;
  }
}
.form-group {
  .form-control {
    border-bottom: 1px solid lighten($branding-color, 10%);
  }
}
.search {
  .form-control {
    border-bottom: 0;
  }
}

select.form-control {
  border-bottom: 0;
}
.select-wrapper {
  border-bottom: 1px solid lighten($branding-color, 10%);
}

.form-group {
  .btn-block {
    margin-top: 15px;
  }
}