.header-center {
  padding: 15px;
  padding-bottom: 30px;
  color : $dark-background-text-color;
  .app-name {
    font-size: 25px;
      color : $dark-background-text-color;
  }

  .logo {
    width: 230px;
    position: absolute;
    top: 70px;
    left: 10px;
  }

  #balloons_1, #balloons_2, #balloons_3, #balloons_4 {
    position: absolute;
    height: 148px;
    opacity: 0.6;
  }

  #balloons_1 {
    top: 200px;
    left: 20%;
  }

  #balloons_2 {
    top: 300px;
    left: 40%;
  }

  #balloons_3 {
    top: 400px;
    right: 0%;
  }

  #balloons_4 {
    top: 500px;
    right: 40%;
  }
}

header {
  background: $branding-color;
}

.navigation {
  padding-top: 33px;
  background: $branding-color;
      background-image: url("/images/site/bg_clouds.png"), linear-gradient($branding-color, #ffffff);
    background-size: contain;
    background-position-y: 11px;
    background-repeat: repeat; 
}