.header-center {
  padding: 15px;
  background: $branding-color;
  color : $dark-background-text-color;
//  background-image: url('/images/site/confetti.png');
  background-size: contain;
  background-position-y: -22px;
  background-repeat-y: no-repeat;

  .app-name {
    font-size: 25px;
      color : $dark-background-text-color;
  }

  .logo {
    height: 44px;
    margin-top: -8px;
  }
}