.list-social-links {
  margin-bottom: 0;
  li {
    border: 1px solid;
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 10px;
    margin-left: 10px;
    a {
      cursor: pointer;
      display: inline-block;
      width: 29px;
      height: 33px;
      padding-top: 5px;
      &, &:focus, &:active, &:hover {
        color: $dark-background-text-color;
      }
    }

    &:hover {
      background: white;
      a {
        &, &:focus, &:active, &:hover {
          color: $text-color;
        }
      }

    }
  }
}

.list-products {
  list-style-type: none;
  padding-left: 0;
  display: table;
  border-spacing: 10px;
  margin-top: 20px;
  li {
    position: relative;
    border: 1px solid transparent;
    display: table-cell;
    overflow: hidden;
    zoom: 1;
    margin: 0 0 12px 12px;
    padding: 20px 0;
    padding: 40px 0;
    .btn-cart {
      width: 0;
      left: -26px;
    }
    &:hover {
      cursor: pointer;
      border: 1px solid #d2cfcf;
      -webkit-box-shadow: 1px 1px 3px 0 #f2f2f2;
      -moz-box-shadow: 1px 1px 3px 0 #f2f2f2;
      -ms-box-shadow: 1px 1px 3px 0 #f2f2f2;
      box-shadow: 1px 1px 3px 0 #f2f2f2;
      background-size: 100% 200px;
      background-position: left bottom;
      background-repeat: no-repeat;
      background-image: -ms-linear-gradient(bottom,#fafafa 0,#fdfdfd 20%,#fff 60%);
      background-image: -moz-linear-gradient(bottom,#fafafa 0,#fdfdfd 20%,#fff 60%);
      background-image: -o-linear-gradient(bottom,#fafafa 0,#fdfdfd 20%,#fff 60%);
      background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#fafafa),color-stop(.2,#fdfdfd),color-stop(.6,#fff));
      background-image: -webkit-linear-gradient(bottom,#fafafa 0,#fdfdfd 20%,#fff 60%);
      background-image: linear-gradient(to top,#fafafa 0,#fdfdfd 20%,#fff 60%);
      .btn-cart {
        width: 90px;
        left: 0;
        transition: width 0.5s;
      }
    }
    img.product {
      max-width: 100%;
      height: 80px;
      margin-bottom: 30px;
    }
  }

  .btn-cart {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  h2, p {
    width: 230px;
  }

  h2 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 9px;
  }

  .input-group {
    width: 55%;
    margin: 0 auto;
  }
}

.list-navigation {
  text-align: right;
  > ul {
    margin-bottom: 0;
    > li {
      padding: 0;
      margin: 0;
      > a {
        color: $branding-color;
        cursor: pointer;
        padding: 8px 35px;
        text-decoration: none;
        font-size: 20px;
        display: inline-block;
        border-bottom: 4px solid transparent;
        &:hover, &:focus {
          border-bottom: 4px solid $branding-color;
          color: darken($branding-color, 10%);
        }

      }
      &:last-of-type {
        > a {
          // border-right: 1px solid darken($header-color, 10%);
        }
      }
    }
  }

}

.list-services {
  
  li {
    img {
      height: 149px;
      border: 1px solid $branding-color;
      padding: 2px;
      margin: 0 40px;
    }
    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }
}

.list-packages {
  
}

.dropdown-menu {
  border-radius: 0%;
  padding: 2px;
  > li {
    > a {
      padding: 10px 15px;
      &:hover , &:focus, &:active {
        background: $branding-color;
        color: $dark-background-text-color;
      }
    }
  }
}
