header {
  background: $branding-color;
}

.navbar-nav > li > a {
  padding: 8px 12px;
}

.navbar-static-top {
  background: #efefef;
  border-bottom: 2px solid #b32445;
  position: fixed;
  width: 100%;
}

.navbar-nav > li:last-of-type {
  margin-right: 16px;
}

.navigation {
  padding-top: 40px;
}