header {
  background: $branding-color;
}

.navbar-nav > li > a {
  padding: 5px 12px;
}

.navbar-static-top {
  background: #efefef;
  border-bottom: 1px solid #e0dede;
  position: fixed;
  width: 100%;
}

.navbar-nav > li:last-of-type {
  margin-right: 16px;
}

.navigation {
  padding-top: 33px;
  padding-bottom: 15px;
      background: $branding-color;
}