section {
  &#Carousel {
    position: relative;
    height: 70vh;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 11px solid $branding-color;
    background: lighten($branding-color, 90%);
    .fa-chevron-left {
      margin-top: 40vh;
    }
    .fa-chevron-right {
      margin-top: 40vh;
    }
  }
  &#admin {
    height: 80vh;
    padding-top: 20px;
  }
}