section {
  &#Carousel {
    position: relative;
    height: 70vh;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 11px solid $branding-color;
    background: lighten($branding-color, 90%);
    .fa-chevron-left {
      margin-top: 30vh;
    }
    .fa-chevron-right {
      margin-top: 30vh;
    }

    .carousel-indicators {
      top: 64vh;
      li {
        background: white;
        opacity: 0.5;
        border: none;
        width: 15px;
        height: 15px;
      }
      li.active {
        opacity: 1;
      }
    }
  }
  &#admin {
    height: 80vh;
    padding-top: 20px;
  }
  &#services {
    height: 90vh;
    border-bottom: 1px solid;
  }
  &#offers {
    height: 90vh;
    border-bottom: 1px solid;
  }
  &#products {
    height: 90vh;
    border-bottom: 1px solid;
  }
}