section {
  &#Carousel {
    position: relative;
    height: 75vh;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 11px solid $branding-color;
    background: lighten($branding-color, 90%);
    .fa-chevron-left {
      margin-top: 30vh;
    }
    .fa-chevron-right {
      margin-top: 30vh;
    }

    .carousel-indicators {
      top: 64vh;
      li {
        background: white;
        opacity: 0.5;
        border: none;
        width: 15px;
        height: 15px;
        margin: 1px;
      }
      li.active {
        opacity: 1;
      }
    }
  }
  &#admin {
    min-height: 80vh;
  }
  &#services {
    min-height: 90vh;
  }
  &#offers {
    min-height: 90vh;
    border-bottom: 1px solid;
  }
  &#vision {
    position: relative;
    .background {
      background-image: url('/images/site/balloons.jpg');
      min-height: 90vh;
      opacity: 0.6;
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      color: $text-color;
      z-index: 0;
    }
    min-height: 90vh;
    border-bottom: 10px solid;
  }
  &#packages {
    padding-top: 20px;
    min-height: 90vh;
    padding-bottom: 20px;
    border-bottom: 1px solid;
  }
  &#products {
    position: relative;
    @media(max-width: 767px) {
      display: none;
    }
    .list-products {
      display: inline-block;
      height: 283px;
      padding: 15px 6%;
      overflow: hidden;
      text-align: center;
    }
    .control {
      display: inline-block;
      position: absolute;
      top: 41%;
      font-size: 20px;
      &.left {
        left: 2%;
      }
      &.right {
        right: 2%;
      }
      &.disabled {
        opacity: 0.5;
      }
    }
  }
}