

.table-packages {
	margin-top: 20vh;
	@media (max-width: 1199px) {
		display: none;
	}
	td {
	    color: white;
	    font-size: 21px;
	    letter-spacing: 3px;
	}

	div {
		-webkit-transform: rotate(-90deg);
		margin-right: -69px;
        padding: 20px 10px;
    	&.classy {
    		
			margin-bottom: 20px;
		}
		&.ceremonious {
			
			margin-bottom: 34px; 
		}
		&.fab {
			
			margin-bottom: 44px;
		}
		&.grand {
			
			margin-bottom: 54px;
		}
		&.imperial {
			
			margin-bottom: 64px; 
		}
		&.majestic {
			
			margin-bottom: 74px;
		}
	}

}
