.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-unbrekable {
  white-space: nowrap;
}

.hero {
	font-size: 1.1em;
    line-height: 29px;
    margin-bottom: 20px;
}