
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

$branding-color: #01233f;
$font-family-sans-serif: "Raleway", sans-serif;
$text-color: #daa520;
$dark-background-text-color: #daa520;

@import "../app.scss";
