
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

$branding-color: #006FA6;
$font-family-sans-serif: "Raleway", sans-serif;
$text-color: black;
$dark-background-text-color: #d0cfcc;
$header-color: white;

@import "../app.scss";